body {
    background: #daf7f6;
    color: #3b3b3b;
    font-family: 'open sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background: #ffffff;
    text-align: center;
}

header img {
    margin-right: 16px;
}

h1 {
    color: #f16059;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 40px 0;
    text-transform: uppercase;
}

main {
    margin: 0 auto;
    width: 1000px;
}